<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamsclone">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mslogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CommentsActivity"></activity>
        <activity android:name=".ViewImg" />
        <activity android:name=".GroupChatActivity" />
        <activity android:name=".FindFriendsActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".SideMenuActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>