<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamsclone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ms_logo_sq"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ScheduleDetailsActivity"></activity>
        <activity android:name=".Activities.ScheduleCallActivity" />
        <activity android:name=".Activities.InviteCallParticipant" />
        <activity
            android:name=".Activities.VideoConferenceActivity"
            android:theme="@style/AcTheme" />
        <activity android:name=".Activities.DashboardActivity" />
        <activity android:name=".Activities.GroupInfoActivity" />
        <activity android:name=".Activities.GroupParticipantsAdd" />
        <activity android:name=".Activities.CreateGroupActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.RequestsActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FingerPrintActivity" />
        <activity android:name=".Activities.VerificationActivity" />
        <activity android:name=".Activities.CommentsActivity" />
        <activity android:name=".Activities.ViewImg" />
        <activity android:name=".Activities.GroupChatActivity" />
        <activity android:name=".Activities.FindFriendsActivity" />
        <activity android:name=".Activities.ChatActivity" />
        <activity android:name=".Activities.SideMenuActivity" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MainActivity" />

        <service android:name=".notifications.FirebaseService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name=".notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>