<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamsclone">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ms_logo_sq"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.CreateGroupActivity"></activity>
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.RequestsActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FingerPrintActivity" />
        <activity android:name=".Activities.VerificationActivity" />
        <activity android:name=".Activities.CommentsActivity" />
        <activity android:name=".Activities.ViewImg" />
        <activity android:name=".Activities.GroupChatActivity" />
        <activity android:name=".Activities.FindFriendsActivity" />
        <activity android:name=".Activities.ChatActivity" />
        <activity android:name=".Activities.SideMenuActivity" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MainActivity" />
    </application>

</manifest>